---
layout: Serverless/IaaS/anonymous-org/core
---
<!-- main content -->
{% include Serverless/IaaS/anonymous-org/common/common-ads.html %}
<div class="home home--hero">
  {% include Serverless/IaaS/anonymous-org/kernel/top-kernel.html %}
</div>
<div class="container">
  {% include Serverless/IaaS/anonymous-org/kernel/explore-kernel.html %}
  {% include Serverless/IaaS/anonymous-org/common/get-started.html %}
</div>
<!-- end main content -->

---

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{ site.keyword }}">
    <meta name="author" content="{{ site.organization }}">
    <meta property="og:image" content="{{ site.favicon }}" />
    <meta property="twitter:image" content="{{ site.favicon }}" />
    <link rel="apple-touch-icon" href="{{ site.favicon }}">
    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Do+Hyeon:wght@400;600&family=Inter:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton:wght@400;600&family=Inter:wght@400;500&display=swap" />
    <title>{{ site.title }} – {{ site.description }}</title>
    <style type="text/css">
    .basic-color {color: #ffffff;} .mt {margin-top: 2px;} .network {background: url(/assets/resource/network/AeusxO.jpg) center center; background-blend-mode: saturation;}
    </style>
  </head>

  <body style="background-color: #090d2e; font-family: 'Do Hyeon', sans-serif" class="network">
    <div align="center" style="margin-top: 250px;">
      <img src="/assets/resource/org/anonymous_sys_org.png" width="40%" alt="ANON SYS, INC." title="ANON SYS, INC.">
      <h1 class="basic-color mt">ANON SYS, INC.</h1>
      <p class="basic-color">WE ARE ANON SYS. WE ARE LEGION.</p>
      <script type="text/javascript">
        var copyright='&nbsp;ANON SYS, Inc.'
        globals=new Date().getFullYear();
        document.write("<p style='color: #ffffff;'><b>" + "&copy;&nbsp;" + globals + copyright + "</b></p>");
      </script>
    </div>
    <noscript>
      <strong style="text-align: center; color: #ffffff">
      We're Sorry But 'ANON SYS, INC.' Doesn't Work Properly Without Javascript Enabled. Please Enable It To Continue.
      </strong>
    </noscript>
  </body>
</html>