<!DOCTYPE html>
<html lang="en">
  {% include Serverless/PaaS/nextworldhub/common/nextworldhub-head.html %}
  <body id="dark">
    <noscript>
      <strong>
        We're Sorry But Next World Hub Doesn't Work Properly Without Javascript Enabled. Please Enable It To Continue.
      </strong>
    </noscript>

    {% include Serverless/PaaS/nextworldhub/common/nextworldhub-header.html %}

    {{ content }}

    {% include Serverless/PaaS/nextworldhub/common/nextworldhub-footer.html %}
    <!-- JS -->
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/popper.min.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/bootstrap.min.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/amcharts-core.min.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/amcharts.min.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/jquery.mCustomScrollbar.js"></script>
    <script src="/OpenAPI/Serverless/PaaS/NextWorldHub/assets/js/custom.js"></script>
  </body>
</html>