---
permalink: /common/404.html
layout: core
---

<!-- main content -->
<main class="main">
    <div class="container">
      <div class="row row--grid">
        <!-- breadcrumb -->
        <div class="col-12">
          <ul class="breadcrumb">
            <li class="breadcrumb__item"><a href="{{ site.baseurl }}">Home</a></li>
            <li class="breadcrumb__item breadcrumb__item--active">Error 404</li>
          </ul>
        </div>
        <!-- end breadcrumb -->
        <!-- error 404 -->
        <div class="col-12">
          <div class="page-404">
            <div class="page-404__wrap">
              <div class="page-404__content">
                <h1 class="page-404__title">404</h1>
                <p class="page-404__text">The Page You Are Looking For Not Available!</p>
                <a href="{{ site.baseurl }}" class="page-404__btn">Go Back</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end error 404 -->
      </div>
    </div>
  </main>
  <!-- end main content -->