<div id="ads">
  <div class="home" id="containers">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="home__content home__content--center">
            <h1 class="home__title" style="font-family: 'Anton', sans-serif;">WE ARE <span><b>ANONYMOUS</b>
            </span>. <br>WE ARE <span><b>LEGION</b></span>.</h1>
            <p class="home__text">:: REMOTE WORKSPACE FOR ANONYMOUS SYS ::</p>
            <p class="home__text">We Will Automatically Close After <span>
              <b id="seconds" style="color: #43CE65; font-weight:bold;">15</b></span> Seconds.
            </p>
            <div class="home__btns">
              <a href="" class="home__btn home__btn--clr">Explore</a>
              <a class="home__btn" id="skip">Skip Ads</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
      var times = document.getElementById("seconds");
      var skip = document.getElementById("skip");
      var scroll = 15;
      times.innerHTML = scroll;
      var load = setInterval(timeFn, 1000);
  
      function timeFn() {
        scroll--;
          times.innerHTML = scroll;
          if (scroll == 0) {
              clearInterval(load);
              ads.style.display = "none";
              containers.style.display = "none";
          }
      }
      skip.onclick = function() {
        ads.style.display = "none";
          containers.style.display = "none";
      }
  }
</script>