<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- css -->
  <link rel="stylesheet" href="assets/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/select2.min.css">
  <link rel="stylesheet" href="assets/css/main.css">
  <!-- Favassets / icons -->
  <link rel="icon" type="image/png" href="{{ site.favicon }}" sizes="32x32">
  <link rel="apple-touch-icon" href="{{ site.favicon }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keyword }}">
  <meta name="author" content="{{ site.organization }}">
  <title>{{ site.title }} – Marketplace</title>
</head>