<!DOCTYPE html>
<html lang="en">
  {% include common/head.html %}
  <body>
    {% include common/header.html %}
    <main class="main">{{ content }}</main>
    {% include common/footer.html %}
    <!-- JS -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/smooth-scrollbar.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>